aiohttp==0.21.5
aiohttp-jinja2==0.7.0
Jinja2==2.8
py3dns==3.1.0
pytest==2.8.1
pytest-html==1.8.0
pytest-selenium==1.2.1
pytest-variables==1.4
redis==2.10.3
requests==2.9.1
rq==0.5.6
selenium==2.48.0
validate-email==1.3
